body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
    background-image: url(../Content/img/background-clearing.jpg);
    background-repeat: no-repeat;
    height: 100%;
}

.main {
    height: 100vh;
}

.mines {
    margin-left: 400px;
    margin-top: 200px;
}

    .mines table {
        background-color: lightgray;
    }

td {
    background-color: lightgreen;
}

.mine-detail {
    margin: 10px;
    padding: 50px;
    background-color: white;
    border-color: green;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
}

#village-bg {
    display: block;
    position: absolute;
    top: 206px;
    left: 585px;
}

.village-wrapper {
    display: block;
    position: absolute;
    top: 206px;
    left: 585px;
    width: 484px;
    height: 317px;
}

    .village-wrapper > .mine-level {
        display: block;
        position: absolute;
        min-width: 30px;
        min-height: 30px;
        border-radius: 50%;
        background: #dedede;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
        border: 2px solid#ccc;
        text-align: center;
        line-height: 26px;
    }

.mine-level.mine-clay-1 {
    top: 75px;
    left: 252px;
}

.mine-level.mine-clay-2 {
    top: 245px;
    left: 142px;
}

.mine-level.mine-clay-3 {
    top: 225px;
    left: 332px;
}

.mine-level.mine-iron-1 {
    top: 60px;
    left: 90px;
}

.mine-level.mine-iron-2 {
    top: 80px;
    left: 380px;
}

.mine-level.mine-wood-1 {
    top: 25px;
    left: 125px;
}


.mine-level.mine-wood-2 {
    top: 215px;
    left: 245px;
}


.mine-level.mine-wood-3 {
    top: 35px;
    left: 335px;
}


.mine-level.mine-wheat-1 {
    top: 25px;
    left: 240px;
}

.mine-level.mine-wheat-2 {
    top: 160px;
    left: 375px;
}

.mine-level.mine-wheat-3 {
    top: 170px;
    left: 55px;
}

.mine-level.mine-wheat-4 {
    top: 155px;
    left: 125px;
}

.mine-level.mine-wheat-5 {
    top: 115px;
    left: 125px;
}

.mine-level.mine-wheat-6 {
    top: 115px;
    left: 55px;
}

.mine-level.wood {
    background: #a7de8d;
    border: 2px solid #578e3a;
}

.mine-level.clay {
    background: #fbc273;
    border: 2px solid #a3714c;
}
.mine-level.iron {
    background: #cae9e1;
    border: 2px solid #80a68d;
}

.mine-level.wheat {
    background: #fae47e;
    border: 2px solid #756726;
}

.mine-level.upgrading {
    animation: bubble 1s infinite;
}


@keyframes bubble {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#mine-details-container {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    display: none; 
}

#mine-details-container.show{
    display: block;
}

#mine-details-container .close-btn {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.mine-details-btn {
    cursor: pointer;
}